#minusOne {
  padding: 2rem;
}

#minusOne .outer {
    padding: 20px;
    background: white;
}

#minusOne .input {
    margin-bottom: 10px;
    color: black;
}

#minusOne .label {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

#minusOne .sublabel {
    font-size: small;
    color: lightgrey;
}

#minusOne .formItem {
    width: 300px;
    background: white;
    color: black;
}

#minusOne textarea.formItem {
    height: 120px;
}

#minusOne form {
   padding-bottom: 10px;
}

#minusOne form button {
    border-width: 1px;
    border-color: black;
    padding: 6px 10px;
    background: white;
    color: black;
}

#minusOne .comment {
    border-top: solid 1px;
    padding: 10px 0px;
    overflow: auto;
}

#minusOne .comment .name {
    font-weight: bold;
    padding-right: 10px;
    color: black;
}

#minusOne .comment .time {
    font-style: italic;
    font-size: 10pt;
    color: black;
}

#minusOne .comment .message {
    max-height: 170px;
    overflow: hidden;
    color: black;
}

#minusOne .comment .expandedMessage {
    max-height: none;
}

#minusOne .comment .commentLeft {
    float: left;
    clear: left;
    position: relative;
}

#minusOne .comment .admin {
    float: right;
}

#minusOne .comment .admin .delete {
    margin-bottom: 20px;
}

#minusOne .comment .flaggedImage {
    width: 100px;
    height: 100px;
    position: absolute;
    left:50px;
    top: 0px;
}