#minusOne {
  padding: 2rem;
}

#minusOne .outer {
    padding: 20px;
    background: white;
}

#minusOne .input {
    margin-bottom: 10px;
}

#minusOne .label {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

#minusOne .sublabel {
    font-size: small;
    color: lightgrey;
}

#minusOne .formItem {
    width: 300px;
    background: white;
}

#minusOne textarea.formItem {
    height: 120px;
}

#minusOne form {
   padding-bottom: 10px;
}

#minusOne form button {
    border-width: 1px;
    border-color: black;
    padding: 6px 10px;
}

#minusOne .comment {
    border-top: solid 1px;
    padding: 10px 0px;
    width: 100%;
}

#minusOne .comment .name {
    font-weight: bold;
    padding-right: 10px;
}

#minusOne .comment .time {
    font-style: italic;
    font-size: 10pt;
}

#minusOne .comment .message {
    max-height: 100px;
    overflow: hidden;
}

#minusOne .comment .expandedMessage {
    max-height: none;
}